.card__product {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.card__link {
  text-decoration: none;
}

.card__image {
  padding-left: 36px;
}

.card__term {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.card__value {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.card__info {
  margin-bottom: 22px;
}

.card__order {
  margin-bottom: 14px;
}
