.card__product {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.card__link {
  text-decoration: none;
}

.card__image {
  padding-left: 36px;
}

.card__info {
  font-size: 12px;
  line-height: (16 / 12);
  color: #444444;
  margin-bottom: 22px;
}

.card__order {
  margin-bottom: 14px;
}
