.catalog {
  padding: 27px var(--side-offset) 68px;
}

.catalog__title {
  font-family: @accent-font;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0 0 49px;
}

.catalog__item {
  margin-bottom: 19px;
}

.catalog__show-more {
  margin-top: 89px;
  margin-bottom: 50px;
}

.catalog__show-more-title {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.catalog__text {
  font-size: 12px;
  line-height: (16 / 12);
  color: #444444;
  margin-bottom: 21px;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
