.catalog {
  padding: 27px var(--side-offset) 50px;
}

.catalog__title {
  font-family: @accent-font;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0 0 49px;
}

.catalog__show-more {
  position: relative;
  text-align: center;
  padding-top: 6px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: var(--side-offset-negative);
    height: 1px;
    width: 10000%;
    background-color: #d6d6d6;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: var(--side-offset-negative);
    height: 1px;
    width: 10000%;
    background-color: #d6d6d6;
    z-index: -1;
  }
}

.catalog__show-all {
  width: 100%;
}

.catalog__show-more-title {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 8px;
}

.catalog__text {
  font-size: 12px;
  line-height: (16 / 12);
  color: @darkgrey;
  margin: 0;
  padding-bottom: 21px;
}

.catalog__wrapper {
  display: grid;
  gap: 19px;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}

@media (min-width: @tablet-width) {
  .catalog__title {
    padding-bottom: 82px;
  }

  .catalog__item {
    margin: 0;
  }

  .catalog__wrapper {
    gap: 60px;
  }

  .catalog__show-more {
    margin-top: 82px;
    padding: 52px 38px 38px;
    border: 2px solid @basicgrey;

    &::before,
    &::after {
      content: none;
    }
  }

  .catalog__show-more-cross {
    width: 60px;
    height: 60px;
  }

  .catalog__show-more-title {
    padding: 49px 70px 23px;
  }

  .catalog__text {
    padding: 0 60px 87px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    gap: 63px 80px;
  }
}
