.catalog {
  padding: 27px 20px 20px;
}

.catalog__title {
  font-family: @accent-font;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 49px;
}

.catalog__item {
  margin-bottom: 19px;
}

.catalog__show-more {
  margin-top: 89px;
  margin-bottom: 50px;
}

.catalog__show-more-title {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.catalog__text {
  font-size: 12px;
  line-height: (16 / 12);
  color: #444444;
  margin-bottom: 21px;
}

.catalog-bonus-text {
  font-size: 16px;
  line-height: (20 / 16);
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 186px 61px 43px 58px;
}

.catalog-bonus-background {
  height: 290px;
  margin: 0 20px;
  background-image: url("../../img/catalog/bg-catalog.png");
  background-repeat: no-repeat;
  padding-bottom: 35px;
}
