.copyright__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  margin: 20px;
}

.copyright__logo {
  float: right;
  margin-right: 20px;
  margin-bottom: 22px;
}
