
.copyright__link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: (20 / 16);
  color: @darkgrey;
  text-decoration: none;

  &:active {
    color: rgba(@darkgrey, 30%);
  }
}

.copyright__logo {
  position: absolute;
  right: var(--side-offset);
  color: #666666;
}

.copyright__link:focus > .copyright__logo,
.copyright__link:hover > .copyright__logo {
  color: @accent-color;
}

.copyright__link:active > .copyright__logo {
  color: rgba(@accent-color, 30%);
}

@media (min-width: @tablet-width) {
  .copyright__logo {
    position: static;
    margin-left: 27px;
  }
}
