.example {
  background-color: #eaeaea;
}

.example__wrapper {
  margin: 20px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-top: 20px;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.example__term {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: lowercase;
  color: #444444;

  &--expenses {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
  }
}

.example__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  &--expenses {
    font-size: 14px;
    line-height: 20px;
  }
}

.example__slider {
  padding-bottom: 40px;
}
