.example {
  background-color: @lightgrey;
  padding: 25px 20px 0;
}

.example__title {
  font-family: @accent-font;
  font-size: 36px;
  line-height: (40 / 36);
  font-weight: 400;
  margin: 0 0 40px;
}

.example__description {
  margin: 0 0 20px;
}

.example__term {
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: #444444;

  &--expenses {
    font-family: @accent-font;
    line-height: (20 / 12);
    text-transform: uppercase;
    color: #000000;
  }
}

.example__value {
  font-family: @accent-font;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  &--expenses {
    line-height: (20 / 24);
  }
}

.example__slider {
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .example {
    height: 1080px;
    --bg-size: 620px;
    background-image: linear-gradient(@white var(--bg-size), @lightgrey var(--bg-size));
  }
}

@media (min-width: @desktop-width) {
  .example {
    height: 600px;
    --bg-size: 136px;
    background-image: linear-gradient(@white var(--bg-size), @lightgrey var(--bg-size));
  }
}
