.form {
  padding: 20px 20px 0;
  font-family: @accent-font;
}

.form__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 37px;
}

.form__text {
  margin: 0 0 39px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__required-note {
  text-decoration: none;
  color: #444444;
  cursor: default;
}

.form__label {
  font-size: 16px;
  line-height: (18 / 16);
  color: #444444;
  text-transform: uppercase;
  margin-right: 13px;
}

.form__field {
  font-family: inherit;
  font-size: 16px;
  line-height: (18 / 16);
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 20px;
}

.form__field-group {
  margin: 0 0 14px;
}

.form__field-group:last-child {
  margin-bottom: 46px;
}

.form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__item {
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 45px;
}

.form__subtitle {
  font-size: 24px;
  line-height: (26 / 24);
  font-weight: 400;
  margin: 0 0 37px;
}

.form__textarea {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (18 / 16);
}

.form__text-required {
  display: block;
  padding: 21px 0 32px;
  text-align: center;
}

.form__comment {
  margin-bottom: 22px;
}
