.form {
  padding: 27px var(--side-offset) 32px;
  font-family: @accent-font;
  overflow-x: hidden;
}

.form__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding-bottom: 37px;
}

.form__text {
  margin: 0;
  padding-bottom: 39px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__required-note {
  text-decoration: none;
  color: @darkgrey;
  cursor: default;
}

.form__label {
  font-size: 16px;
  line-height: (18 / 16);
  color: @darkgrey;
  text-transform: uppercase;
  padding-right: 13px;
}

.form__field {
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: (18 / 16);
  color: @darkgrey;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 20px;
}

.form__field-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;
}

.form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__item {
  padding-bottom: 13px;
}

.form__item:last-child {
  padding-bottom: 40px;
}

.form__subtitle {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: (26 / 24);
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 1000%;
    background-color: @accent-color;
    z-index: -1;
    left: calc(100% + 22px);
  }

  &--owner::after {
    left: calc(100% + 14px);
  }
}

.form__textarea {
  font-family: @accent-font;
  font-size: 16px;
  line-height: (18 / 16);
  height: 150px;
  width: 100%;
}

.form__text-required {
  display: block;
  padding: 21px 0 0;
  text-align: center;
}

.form__comment {
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .form {
    padding: 65px 70px 72px;
  }

  .form__title {
    padding-bottom: 54px;
  }

  .form__text {
    padding-bottom: 66px;
  }

  .form__list--additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__subtitle {
    &::after {
      left: calc(100% + 40px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 1000%;
      background-color: @accent-color;
      z-index: -1;
      right: calc(100% + 39px);
    }
  }

  .form__fieldset--cat {
    padding-bottom: 72px;
  }

  .form__fieldset--program {
    padding-bottom: 71px;
  }

  .form__textarea {
    height: 174px;
  }

  .form__wrapper-submit {
    display: flex;
  }

  .form__submit {
    margin-right: 64px;
  }

  .form__text-required {
    margin-top: -10px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding: 73px var(--side-offset) 82px;
  }

  .form__title {
    padding-bottom: 56px;
  }

  .form__wrapper {
    display: flex;
  }

  .form__fieldset--cat {
    width: 569px;
    padding: 0 80px 69px 0;
  }

  .form__fieldset--owner {
    display: flex;
    padding-bottom: 67px;
  }

  .form__comment {
    padding-bottom: 67px;
  }

  .form__textarea {
    height: 174px;
  }

  .form__list--additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .form__field-group--email {
    width: 100%;
    padding-right: 78px;
  }

  .form__field-group--phone {
    width: 100%;
  }

  .form__submit {
    margin-right: 84px;
  }
}
