.main-footer {
  background-color: @basicgrey;
  padding: 0 0 20px;
}

.main-footer__adress {
  display: flex;
  padding: 26px 20px 26px;

  &--index {
    background-color: @white;
  }
}

.main-footer__logo {
  display: block;
  padding: 0 96px 52px;
}


@media (min-width: @tablet-width) {
  .main-footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 147px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__contacts {
    position: relative;
  }

  .main-footer__adress {
    position: absolute;
    box-sizing: border-box;
    background-color: @white;
    top: 100px;
    left: 110px;
    height: 198px;
    padding: 56px 80px;
  }
}
