.main-footer {
  background-color: @basicgrey;
}

.main-footer__address {
  display: flex;
  justify-content: space-between;
  padding: 26px var(--side-offset);

  &--index {
    background-color: @white;
  }
}

.main-footer__social-wrapper {
  padding: 36px var(--side-offset) 40px;
  position: relative;
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  padding: 20px 0;
}

@media (min-width: @tablet-width) {
  .main-footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 147px;
    padding: 58px var(--side-offset) 55px;
  }

  .main-footer__address {
    padding: 56px calc(var(--side-offset) + 40px);
  }

  .main-footer__logo {
    padding: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__contacts {
    position: relative;
  }

  .main-footer__address {
    position: absolute;
    background-color: @white;
    top: 100px;
    left: 110px;
    padding: 56px 80px;
  }

  .main-footer__social-wrapper {
    padding: 57px var(--side-offset) 58px;
  }
}
