.main-footer {
  background-color: @basicgrey;
}

.main-footer__adress {
  display: flex;
  justify-content: space-between;
  padding: 26px var(--side-offset);

  &--index {
    background-color: @white;
  }
}

.main-footer__social-wrapper {
  padding-top: 36px;
  padding-bottom: 36px;
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 39px;
}


@media (min-width: @tablet-width) {
  .main-footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 147px;
    padding: 58px var(--side-offset) 55px;
  }

  .main-footer__adress {
    padding: 56px calc(var(--side-offset) + 40px);
  }

  .main-footer__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__contacts {
    position: relative;
  }

  .main-footer__adress {
    position: absolute;
    background-color: @white;
    top: 100px;
    left: 110px;
    padding: 56px 80px;
  }

  .main-footer__social-wrapper {
    padding: 57px var(--side-offset) 58px;
  }
}
