.program {
  padding: 82px var(--side-offset) 71px;
}

.program__item {
  margin-bottom: 20px;
  background-color: @basicgrey;
}

.program__title {
  font-family: @accent-font;
  font-size: 24px;
  line-height: (37 / 24);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 29px 91px;
}

.program__description {
  min-width: 227px;
  color: @darkgrey;
  margin: 0 auto;
  padding: 0 33px 38px 22px;
}

.program__link {
  display: block;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 0 0 18px 19px;
}

@media (min-width: @tablet-width) {
  .program__item {
    margin-bottom: 30px;
  }

  .program__description {
    min-width: 340px;
    margin: 0;
    padding-left: 52px;
  }

  .program__title {
    padding-left: 53px;
  }

  .program__link {
    padding-bottom: 53px;
    padding-left: 52px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    display: flex;
    max-width: 1200px;
  }

  .program__item {
    min-width: 570px;
    margin: 0 80px 0 0;
  }
}
