.promo {
  background: rgba(104, 183, 56, 0.85) url("../../img/index-background.png") no-repeat top;
}

.promo__wrapper {
  margin: 0 20px 20px 20px;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
}

.promo__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
